/.phpunit.cache
/node_modules
# /public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.example2
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# /public/css
# /public/js
Tests_Browser_Post_LikeCreateTest_testLikeCreate_first-0.log
Tests_Browser_Post_LikeCreateTest_testLikeCreate_notfirst-0.log
Tests_Browser_Post_LikeCreateTest_testLikeCreate_notfirst_fail-0.log
.env.product
